<table style="background-color: bisque;width: 100%; height: 50px">
    <tr><td><a href="/shop/product">Add product</a></td>
        <td><a href="/shop/products">View products</a></td></tr>
    </table>   
