<%- include('../partials/header.ejs')  %>

    <h2>Add Product:</h2>
    <form action='' method='post'>
    Name: <input type='text' name='name'><br>
    Type: <input type='text' name='type'><br>
    Price: <input type='number' name='price'><br>
    <input type='submit' value='Save'></form>

<%- include('../partials/footer.ejs')  %>
